.common-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #000;
}

.common-subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #ffe100;
}

.common-text {
  font-family: Arial, sans-serif;
  color: #000;
  line-height: 1.5;
}

.common-text-black {
  font-family: Arial, sans-serif;
  color: black;
  line-height: 1.5;
}

.common-mainbox {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.background-white {
  background-color: white;
  max-width: 100%;
}
.background-yellow {
  background-color: #FAD053;
  height:  600px;
}

.title-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* 右下方向に影、ぼかし */
}