.common-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.common-subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #ffe100;
}

.common-text {
  font-family: Arial, sans-serif;
  color: whitesmoke;
  line-height: 1.5;
}

.common-mainbox {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.background-white {
  background-color: white;
  max-width: 100%;
}
.background-yellow {
  background-color: #fff780;
}