.header {
  background-color: #000;
  display: flex;
}

.header__button {
  height: 50;
}

.header__logo {
  display: flex;
  background-color: #fff;
  margin: 10px;
}

.header__logo__img {
  height: 50px;
  width: 250px;
  display: flex;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: #fff;
  text-align: center;
  margin: 0;
}

.reason__area {
  display: flex;
  gap: 150px;
  justify-content: center; 
  flex-wrap: nowrap; 
  padding-top: 60px;
}

.reason__point {
  height: 200px;
  width: 200px;
  background-color: #FFDB00;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;  
}

.reason__point h2,
.reason__point p,
.reason__point button {
  margin: 0;
}

.reason__point p {
  margin-top: 2px;
  line-height: 1.2;
}

.reason__point button {
  margin-top: 6px;     /* 説明文とボタンの間に必要な分だけ空ける */
  background-color: yellow;
}

.review-content{
  display: flex;
  justify-content: center;
}

.review-img {
  height: 500px;
  width: 300px;
}

.review-box {
  height: 500px;
  width: 300px;
  background-color: yellow;
  border-radius: 30px;
}

.common-title {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;    /* テキストを波線より上に */
} 

.reason__boader {
  padding: 10px;
  border: 1px solid #000;
  display: inline-block;
}

.features__point {
  height: 100px;
  width: 500px;
  background-color: #f8f4df;
  margin: auto;
  border-radius: 20px;
  padding: 5px;
  margin-top: 15px;
}

.review-text {
  text-align: left;
  padding: 70px 30px;
}
