.header {
  background-color: #000;
  display: flex;
}

.header__button {
  height: 50;
}

.header__logo {
  display: flex;
  background-color: #fff;
  margin: 10px;
}

.header__logo__img {
  height: 50px;
  width: 250px;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: #fff;
  text-align: center;
}

