.header {
  background-color: #000;
  display: flex;
}

.header__button {
  height: 50;
  width: 150px; 
  border-radius: 20px; 
  padding: 15px 20px;      
  border: none;              
  background: linear-gradient(to bottom, #fff, #ccc);
  color: #000;               
  cursor: pointer;  
}

.header__logo {
  display: flex;
  background-color: #fff;
  margin: 10px;
}

.header__logo__img {
  height: 50px;
  width: 250px;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: #fff;
  text-align: center;
}

.reason__area {
  display: flex;
   gap: 150px;
  justify-content: center; 
  flex-wrap: wrap; 
}


.reason__point {
  height: 210px;  
  width: 200px;
  background-color: #FFDB00;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;  
  margin-top: 60px; 
}

.reason__point h2,
.reason__point p,
.reason__point button {
  margin: 0;
}

.reason__point p {
  margin-top: 2px;
  line-height: 1.2;
}

.reason__point button {
  margin-top: 6px;     /* 説明文とボタンの間に必要な分だけ空ける */
}

.reason__point {
  justify-content: space-between;  /* ボタンを一番下に固定し、他の要素間はマージン調整 */
}

.reason__key {
  text-align: center;
}

.title-wrapper {
  display: inline-block;
  position: relative;
}

.yellowline {
  position: absolute;
  top: 230%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 中央寄せ */
  width: 140%;   /* テキストより少し長くする */
  height: auto;
  z-index: 1;
}

.common-title {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;    /* テキストを波線より上に */
}

.features__point {
  height: 100px;
  width: 500px;
  background-color: #f8f4df;
  margin: auto;
  border-radius: 20px;
  padding: 5px;
  margin-top: 15px;
}

